[tool.black]
line-length = 127

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "-ra -q"
testpaths = [
    "tests/unit"
]

[tool.pyright]
reportOptionalOperand = "none"

[tool.pylint.'MESSAGES CONTROL']
max-line-length = 127
disable = "too-few-public-methods,missing-module-docstring,missing-class-docstring,missing-function-docstring,unnecessary-ellipsis"
max-args = 15
max-locals = 20
max-attributes = 10

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "roboquant"
dynamic = ["version"]
authors = [ { name="roboquant team", email="info@roboquant.org" },]
description = "A fast algo-trading platform"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Topic :: Office/Business :: Financial",
    "Topic :: Office/Business :: Financial :: Investment"
]
keywords = ["trading", "investment", "finance", "crypto", "stocks", "exchange", "forex"]
dependencies = [
  "numpy>=1.25.2",
  "websocket-client~=1.7.0",
  "requests>=2.31.0",
]

[tool.setuptools.dynamic]
version = {attr = "roboquant.__version__"}

[project.optional-dependencies]
torch = ["torch>=2.1.0", "tensorboard>=2.15.2", "stable-baselines3>=2.2.1"]
yahoo = ["yfinance~=0.2.36"]
ibkr = ["nautilus-ibapi~=10.19.2"]
alpaca = ["alpaca-py"]
all = [ "roboquant[torch,yahoo,ibkr]" ]


[project.urls]
Homepage = "https://roboquant.org"
Repository = "https://github.com/neurallayer/roboquant.py.git"
Issues = "https://github.com/neurallayer/roboquant.py/issues"

