.bg-white {
    background-color: rgb(241 250 254);
}

.myst-top-nav {
    background-color: rgb(0, 161, 255);
}

.myst-top-nav-item {
    color: rgb(241 250 254);
}

/* 1. Target the foreignObject (the parent) */
foreignObject {
  display: flex;
  align-items: center;
  justify-content: center;

  /* 2. All items have a foreignObject */
  /* We only care about edgeLabels */
  &:has(.edgeLabel) {
    background-color: transparent;

    /* 3. Make the label transparent because, by default, */
    /* it has a translucent background color */
    .edgeLabel,
    .labelBkg {
      background-color: transparent !important;
    }

    /* 4. Now, changes to the paragraph */
    /* directly impact what you see */
    p {
      margin-inline: auto !important;
      max-width: max-content;
      border-radius: 8px;
      padding: 0 0.75rem;
    }
  }
}